---
- name: Add HashiCorp GPG
  apt_key:
    url: https://apt.releases.hashicorp.com/gpg
    state: present

- name: Add HashiCorp repo
  apt_repository:
    repo: "deb [arch={{ nomad_repo_arch }}] https://apt.releases.hashicorp.com {{ ansible_distribution_release }} main"
    state: present
    filename: hashicorp

- name: Install Nomad
  apt:
    name: nomad
    state: present
    update_cache: yes

- name: Allow Nomad server ports on LAN
  ufw:
    rule: allow
    port: "{{ item.port }}"
    proto: "{{ item.proto }}"
    src: 192.168.1.0/24
  loop:
    - { port: "4646", proto: "tcp" }  # UI
    - { port: "4647", proto: "tcp" }  # server RPC
    - { port: "4648", proto: "tcp" }  # serf LAN TCP
    - { port: "4648", proto: "udp" }  # serf LAN UDP
  when: nomad_server | bool

- name: Allow Nomad client RPC/Serf on LAN
  ufw:
    rule: allow
    port: "{{ item.port }}"
    proto: "{{ item.proto }}"
    src: 192.168.1.0/24
  loop:
    - { port: "4647", proto: "tcp" }
    - { port: "4648", proto: "tcp" }
    - { port: "4648", proto: "udp" }
  when: not nomad_server | bool

- name: Create Nomad config dir
  file:
    path: /etc/nomad.d
    state: directory
    mode: "0755"

- name: Ensure Nomad host volume directories exist
  file:
    path: "{{ item.path }}"
    state: directory
    mode: "{{ item.mode | default('0755') }}"
    recurse: yes
  loop: "{{ nomad_host_volumes }}"

- name: Ensure Nomad host volume ownership
  file:
    path: "{{ item.path }}"
    state: directory
    owner: "{{ item.owner | default(omit) }}"
    group: "{{ item.group | default(omit) }}"
    recurse: yes
  loop: "{{ nomad_host_volumes }}"
  when: item.owner is defined or item.group is defined

- name: Allow HTTP/HTTPS on LAN (servers)
  ufw:
    rule: allow
    port: "{{ item }}"
    proto: tcp
    src: 192.168.1.0/24
  loop:
    - "80"
    - "443"
  when: nomad_server | bool

- name: Ensure CNI directory exists
  file:
    path: /opt/cni/bin
    state: directory
    mode: "0755"

# Ubuntu/Debian: packaged plugins
- name: Install CNI plugins
  apt:
    name: containernetworking-plugins
    state: present
    update_cache: yes

- name: Symlink CNI plugins into /opt/cni/bin if present in /usr/lib/cni
  file:
    src: "/usr/lib/cni/{{ item }}"
    dest: "/opt/cni/bin/{{ item }}"
    state: link
  loop:
    - bridge
    - host-local
    - loopback
  when: ansible_facts['os_family'] == 'Debian'

- name: Deploy Nomad config with host volumes
  template:
    src: nomad.hcl.j2
    dest: /etc/nomad.d/nomad.hcl
    mode: "0644"
  notify: restart nomad

  
