--- 
- name: Configure Nomad Servers (NAS)
  hosts: nomad_servers
  become: yes

  roles:
    - base
    - docker
    - consul
    - dnsmasq
    - nomad
    - samba

- name: Configure Nomad Clients (Pi nodes)
  hosts: nomad_clients
  become: yes

  roles:
    - base
    - docker
    - consul
    - nomad
