data_dir  = "/opt/nomad"
bind_addr = "0.0.0.0"

server {
  enabled          = true
  bootstrap_expect = 1
}

consul {
  address = "127.0.0.1:8500"
}

client {
  enabled = true

  host_volume "prom_data"        { path = "{{ prom_data_dir }}" read_only = false }
  host_volume "graf_data"        { path = "{{ graf_data_dir }}" read_only = false }
  host_volume "elastic_data"     { path = "{{ elastic_data_dir }}" read_only = false }
  host_volume "bulk_data"        { path = "{{ bulk_data_dir }}" read_only = false }
  host_volume "sys_data"         { path = "{{ sys_data_dir }}"  read_only = false }
  host_volume "postgres"         { path = "{{ postgres }}" read_only = false }

  host_volume "caddy_data"       { path = "{{ caddy_data_dir }}"  read_only = false }
  host_volume "caddy_conf"       { path = "{{ caddy_config_dir }}" read_only = false }

  host_volume "torrent_downloads" { path = "{{ torrent_downloads_dir }}" read_only = false }
  host_volume "torrent_config"    { path = "{{ torrent_config_dir }}" read_only = false }

  host_volume "plex_config"       { path = "{{ plex_config_dir }}" read_only = false }
  host_volume "plex_transcode"    { path = "{{ plex_transcode_dir }}" read_only = false }
  host_volume "plex_media"        { path = "{{ plex_media_dir }}" read_only = false }

  host_volume "movies_library"  { path = "{{ movies_library_dir }}" read_only = false }
  host_volume "music_library"   { path = "{{ music_library_dir }}" read_only = false }
  host_volume "redis_data"      { path = "{{ redis_data_dir }}" read_only = false }

  host_volume "immich_uploads"   { path = "{{ immich_uploads_dir }}" read_only = false }
  host_volume "immich_ml_cache"   { path = "{{ immich_ml_cache_dir }}" read_only = false }

  host_volume "docker_registry_data" { path = "{{ docker_registry_data }}" read_only = false }

  host_volume "docker_containers" { path = "{{ docker_containers_dir }}" read_only = true }
  host_volume "filebeat_data"    { path = "{{ filebeat_data_dir }}" read_only = false }

  cni_path       = "/opt/cni/bin:/usr/lib/cni:/usr/libexec/cni"
  cni_config_dir = "/etc/cni/net.d"
}

plugin "docker" {
  config {
    # allow host bind-mounts from task config.volumes = ["host:ctr:mode"]
    volumes {
      enabled = true
    }
    # allow tasks to request privileged=true (needed for cAdvisor)
    allow_privileged = true
  }
}

telemetry {
  publish_allocation_metrics = true
  publish_node_metrics       = true
}
