data_dir  = "/opt/nomad"
bind_addr = "0.0.0.0"

server {
  enabled          = true
  bootstrap_expect = 1
}

consul {
  address = "127.0.0.1:8500"
}

client {
  enabled = true

  {% for volume in nomad_host_volumes %}
  host_volume "{{ volume.name }}" { path = "{{ volume.path }}" read_only = {{ 'true' if volume.read_only | default(false) else 'false' }} }
  {% endfor %}

  cni_path       = "/opt/cni/bin:/usr/lib/cni:/usr/libexec/cni"
  cni_config_dir = "/etc/cni/net.d"
}

plugin "docker" {
  config {
    # allow host bind-mounts from task config.volumes = ["host:ctr:mode"]
    volumes {
      enabled = true
    }
    # allow tasks to request privileged=true (needed for cAdvisor)
    allow_privileged = true
  }
}

telemetry {
  publish_allocation_metrics = true
  publish_node_metrics       = true
}
