data_dir   = "/opt/nomad"
bind_addr  = "0.0.0.0"
name       = "{{ nomad_node_name }}"
datacenter = "{{ nomad_datacenter }}"

{% if nomad_server %}
server {
  enabled          = true
  bootstrap_expect = {{ nomad_server_bootstrap_expect }}
  {% if nomad_retry_join | length > 0 %}
  server_join {
    retry_join = [
      {% for addr in nomad_retry_join -%}
      "{{ addr }}"{% if not loop.last %},{% endif %}
      {% endfor -%}
    ]
  }
  {% endif %}
}
{% endif %}

consul {
  address = "127.0.0.1:8500"
}

{% if nomad_client %}
client {
  enabled = true
  {% if nomad_node_class %}node_class = "{{ nomad_node_class }}"{% endif %}
  {% if nomad_retry_join | length > 0 %}
  server_join {
    retry_join = [
      {% for addr in nomad_retry_join -%}
      "{{ addr }}"{% if not loop.last %},{% endif %}
      {% endfor -%}
    ]
  }
  {% else %}
  servers = ["127.0.0.1"]
  {% endif %}

  {% for volume in nomad_host_volumes -%}
  host_volume "{{ volume.name }}" { path = "{{ volume.path }}" read_only = {{ volume.read_only | default(false) | ternary('true','false') }} }
  {% endfor %}

  cni_path       = "{{ nomad_cni_paths }}"
  cni_config_dir = "{{ nomad_cni_config_dir }}"
}
{% endif %}

plugin "docker" {
  config {
    volumes { enabled = true }
    allow_privileged = true
  }
}

telemetry {
  publish_allocation_metrics = true
  publish_node_metrics       = true
}
